*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    transition: none;
}

.container{
    padding: 10px 4.5%;
}
#nav-menu{
    padding: 10px 5%;
}

#nav-menu > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nav-menu > nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    letter-spacing: 1.5px;
}

.nav-link.resume{
    padding: 8px 10px  5px ;
    color: white;
    background-color: #152bbc;
    border-radius: 5px;
}

#nav-menu > nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 200px;
}

.container1{
    width:20%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container1 h1{
    font-size: 35px;
    font-weight: 200;
    background-image: linear-gradient(43deg,#059fec 0%,#129ec5 46%,#FfCC70 100%);
    background-image: linear-gradient(to left, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
}

.container1 h1::first-letter{
    font-size: 40px;
    font-weight: bold;
    /* color: aqua; */
}

#nav-menu > nav ul li::first-letter{
    font-weight: bold;
}

#nav-menu > nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform: scale(1.2);
}

#nav-menu > nav ul li a:hover:after{
    width: 100%;
}

#nav-menu > nav ul li a:hover{
    color: aqua;
    background-image: linear-gradient(to left, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    color: transparent;
}

.nav-link.resume:hover{
    color: #fafafa;
    background-color: rgb(87, 152, 250);
    transform: scale(1.1);
}

/* .fa-brands,.fa-solid {
    margin-left: 4px;
    color: rgb(135, 135, 249);
} */
ul li i{
    margin-left: 4px;
    color: rgb(135, 135, 249);
}

.fa-solid.fa-xmark{
    display: none;
}

.fa-solid.fa-bars{
    display: none;
}

/* <======================== home ==========================> */
#sub-title{
    text-align: center;
    margin: 40px 0px 40px 0px;
}

#home{
    /* border: 1px solid red; */
    display: flex;
    width: 95%;
    height: 80vh;
    margin: auto;
    margin-top: 40px;
    justify-content: space-around;
    font-size: 30px;
}

#user-detail-intro{
    height: auto;
    width: 60%;
    /* border: 1px solid red; */
}

#user-detail-intro,p,h1{
    font-family: "poppins",sans-serif; /*chabge the font style...*/
    margin: auto;
    color: #ffffff;
}

#hr{
    color:white
}
#intro-image{
    width: 35%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
}

#intro-image > img{   
    /* border: 1px solid red; */
    width: 80%;
    height: 23rem;
    margin: auto;
    border-radius: 50%;
}

#user-detail-intro{
    margin-top: 10%;
}

#user-detail-intro > h1{
    margin-bottom: 3%;
    color:rgb(85, 73, 73);
    font-size: 60px;
}

#user-detail-name{
    background-image: linear-gradient(to left, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    color: transparent;
}
.name1{
    background-image: linear-gradient(to left, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
}


/* ---------------------------------------- About ------------------------------------ */

#display{
    display: none;
}

#about{
    /* border: 1px solid red; */
    padding: 80px 0;
    margin: auto;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-col-2{
    width: 60%;
    /* border: 1px solid red; */
}
.about-col-2 .sub-title{
    margin-bottom: 10px;
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0px;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 60%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0px;
    font-size: 16px;
}

.tab-contents ul li span{
    /* padding:3px 0px; */
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.home-img{
   position: relative;
   width: 300px;
   height: 300px;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 50%;
   overflow: hidden;
}

.home-img::before{
    content: '';
    position: absolute;
    inset: -5px 100px;
    background: linear-gradient(315deg,rgb(121, 40, 202), rgb(255, 0, 128));
    transition: 0.5s;
    animation: animate 4s linear infinite;
}


.home-img:hover::before{
    inset: -20px 0px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.home-img::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.content{
    position: absolute;
    inset: 20px;
    border: 6px solid ;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
} 

.home-img:hover .content img{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content a{
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(87, 152, 250);;
    border-radius: 10px;
}

/* -------------------------------------  skills --------------------------- */

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.skills-list #tansform-div{
    background-color: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list #tansform-div i{ 
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list #tansform-div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
}

.skills-list #tansform-div:hover{
    color: #fafafa;
    animation: liveColor 5s infinite;
    transform: translateY(-10px);
}

@keyframes liveColor {
    0%   { background-color: rgb(135, 135, 249)}
    50%  { background-color: rgba(55, 55, 237, 0.879)}
    100% { background-color: rgb(135, 135, 249)}
}

#skills{
    width: 80%;
    background-color : rgb(135, 135, 249);
    border-radius: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    animation: liveColor 5s infinite;
}
.skills-card{
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.skills-card-img{
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: auto;
}
.skills-card > p{
    margin-left: 10px;
    color: black;
}

#skills1 i{
    color: white;
}

/* ------------------------- projects --------------------- */
#projects{
    padding: 50px 0px;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.project-card{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project-card img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: white;
    transition: height 0.5s;
}
.layer p{
    margin-top: 20px;
}
.layer h3{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

#icons{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.project-card:hover img{
    transform: scale(1.1);
}

.project-card:hover .layer{
    height: 100%;
}

/* ------------------------------contact--------------------- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: rgb(135, 135, 249);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons i:hover{
    color: rgb(135, 135, 249);
    transform: translateY(-5px);
}

#resume-link-1, #resume-link-2{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}

#resume-link-1:hover, #resume-link-2:hover{
    background-color: rgb(135, 135, 249);
}

#contact{
    margin-top: 40px;
    width: 100%;
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form button{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ff004f;
    border-radius: 10px;
}
.copyright{
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 50px;
    display: flex;
    background: #262626;
}

.copyright p{
    text-align: center;
}


/* -------------------------git hub calender------------------------- */
.react-activity-calendar{
    width: 80%;
    margin: auto;
}
.react-activity-calendar img{
    width: 100%;
}

/* ------------------------------- git hub stats1---------------------- */
#github-streak-stats{
    width: 60%;
    margin: auto;
    /* border:1px solid red; */
}
#github-streak-stats img{
    display: block;
    margin: auto;
}

/* --------------------------------- git hub stats2---------------------------------  */

#github-stats-card{
    width: 60%;
    margin: auto;
    /* border:1px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;
}

#github-stats-card img{
    display: block;
    margin: auto;
}

/* --------------------- git hub language card -------------------------- */

#github-top-langs1{
    width: 60%;
    margin: auto;
    /* border:1px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;
}

#github-top-langs{
    width: 100%;
    display: inline-block;
    margin: auto;
}
/* ---------------------------------------- css for small screen --------------------------------------------- */
/* Mobile screens */
@media only screen and (max-width:600px) {


    /* common */
    .sub-title{
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    /* ---------------------- nav-bar ----------------------- */

    .autotype{
        font-size: 20px;
    }
    .container1 h1::first-letter{
        font-size: 20px;
    }
    .fa-solid.fa-xmark, .fa-solid.fa-bars{
        display: block;
        font-size: large;
        color: #fff;
    }
    nav ul{
        background: linear-gradient(to bottom, rgb(135, 135, 249), rgb(255, 255, 255));
        position: fixed;
        top: 0;
        right: -180px;
        width: 180px;
        height: 100vh;
        padding-top:50px;
        z-index: 5;
        transition: right 0.5s;
        /* border: 1px solid red; */
    }
    ul li i{
        color:white;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
        font-size: 10px;
        /* border: 1px solid red; */
    }

    nav ul .fa-solid.fa-xmark{
        position: absolute;
        top: 25px;
        left: 15px;
        cursor: pointer;
        font-size: 20px;
    }

    #nav-menu > nav ul li a:hover:after{
        width: 70%;
    }

    #nav-menu > nav ul li::first-letter{
        font-weight: normal;
    }

    /* ------------------------ skills ---------------------- */
    .name1{
        font-size: 15px;
    }

    #user-detail-intro{
        width: 80%;
        margin-bottom: 10px;
    }
    #user-detail-intro h1{
        font-size: 30px;
        text-align: center;

    }

    #home{
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }
    #intro-image{
        margin-top: 0px;
        margin-bottom: 50px;
    }


    #user-detail-intro p{
        font-size: 12px;
        text-align: center;
    }

    #intro-image > img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #intro-image > img{
        width: 80%;
        height: auto;
        margin-top: 30px;
    }

    /* ------------------------ About ---------------------- */
    #display{
        display: block;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    
    .about-col-2 h1{
        display: none;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: centerr;
        flex-wrap: wrap;
    }
    #about{
        padding: 50px 0px 20px 0px;
    }

    .about-col-2{
        width: 100%;
        margin: auto;
    }

    .about-col-2 p{
        text-align: center;
    }
    .about-col-1{
        width: 300px;
        height: 300px;
        margin: auto;
        margin-bottom: 30px;
    }

    .about-col-1 .home-img{
        width: 250px;
        height: 250px;
    }

    .about-col-1 a{
        font-size: 12px;

    }
    /* -------------------------- tech- stacks --------------- */
    #skills{
        grid-template-columns: repeat(2,1fr);

    }

    .skills-card-img{
        width: 30%;
        height: 80%;
    }
    
    .skills-card-name{
        font-size: 10px;
        justify-content: space-around;
    }

    /* --------------------------- git hub items ---------------- */
    #github-streak-stats{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    #github-streak-stats > img{
        width: 100%;
        display: block;
        margin: auto;
        /* border: 1px solid red; */
    }
    #github-stats-card{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #github-stats-card > img{
        width: 100%;
        display: block;
        margin: auto;
        /* border: 1px solid red; */
    }

    #github-top-langs{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #github-top-langs > img{
        width: 100%;
        display: block;
        margin: auto;
        /* border: 1px solid red; */
    }
}




  /* Tablet screens */
@media only screen and (min-width: 650px) and (max-width: 800px) {
        /* common */
        .sub-title{
            font-size: 30px;
            text-align: center;
            margin-top: 20px;
        }
    
        /* ---------------------- nav-bar ----------------------- */
    
        .autotype{
            font-size: 20px;
        }
        .container1 h1::first-letter{
            font-size: 20px;
        }
        .fa-solid.fa-xmark, .fa-solid.fa-bars{
            display: block;
            font-size: large;
            color: #fff;
        }
        nav ul{
            background: linear-gradient(to bottom, rgb(135, 135, 249), rgb(255, 255, 255));
            position: fixed;
            top: 0;
            right: -180px;
            width: 180px;
            height: 100vh;
            padding-top:50px;
            z-index: 2;
            transition: right 0.5s;
            /* border: 1px solid red; */
        }
        ul li i{
            color:white;
        }
        
        nav ul li{
            display: block;
            margin: 25px;
            font-size: 10px;
            /* border: 1px solid red; */
        }
    
        nav ul .fa-solid.fa-xmark{
            position: absolute;
            top: 25px;
            left: 15px;
            cursor: pointer;
            font-size: 20px;
        }
    
        #nav-menu > nav ul li a:hover:after{
            width: 70%;
        }
    
        #nav-menu > nav ul li::first-letter{
            font-weight: normal;
        } 

        /* ------------------------------About section -----------------  */
        .row > div{
            width: 100%;
        }

        .about-col-1{
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }

        .about-col-2 h1{
            display: none;
        }

        #display{
            display: block;
            margin-bottom: 20px;
        }

        .about-col-2{
            padding: 15px;
        }
    /* ------------------------ skills ---------------------- */
    /* #skills{
        display: none;
    } */

    .name1{
        font-size: 45px;
    }

    #user-detail-intro{
        width: 80%;
    }
    #user-detail-intro h1{
        font-size: 60px;
        text-align: center;
    }

    #home{
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }

    #user-detail-intro p{
        font-size: 20px;
        text-align: center;
    }

    #intro-image{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #intro-image > img{
        width: 90%;
        height: auto;
        margin-top: 30px;
    }

    /* -------------------------- tech- stacks --------------- */
    #skills{
         grid-template-columns: repeat(3,1fr);
    
    }
    
    #skills-card-img{
        width: 40%;
    }
        
    .skills-card-name{
         font-size: 10px;
    }

}

/* ------------------------stats------------------- */
#github-contributions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
  }
  
  .contribution-rect {
    width: 10px;
    height: 10px;
    margin: 1px;
  }

      /* --------------------------- git hub items ---------------- */
    #github-streak-stats{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    #github-streak-stats > img{
        width: 100%;
        display: block;
        margin: auto;
        /* border: 1px solid red; */
    }
    #github-stats-card{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #github-stats-card > img{
        width: 100%;
        display: block;
        margin: auto;
        /* border: 1px solid red; */
    }

    #github-top-langs{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #github-top-langs > img{
        width: 100%;
        display: block;
        margin: auto;
        /* border: 1px solid red; */
    }